---
- name: authconfig packages
  yum: name='{{ authconfig_packages }}'
  tags:
    - aad_agent
    - aad_packages
    - aad_sssd

- name: create /etc/krb5.conf.d folder
  file:
    path: /etc/krb5.conf.d/
    state: directory
  when: ansible_os_family == 'RedHat' and linux_ad_ansible_distribution_major_version|int == '6'

- name: discover Domain
  shell:
    cmd: "realm discover -v {{ linux_ad_authconfig_domain }}"
  register: result

- debug:
    var: result.stdout

- name: list realms
  shell:
    cmd: "realm list"
  register: result

- debug:
    var: result.stdout

- name: join Domain
  shell: "echo -n '{{ linux_ad_authconfig_sssd_pass }}' | adcli join --stdin-password --host-fqdn='{{ ansible_hostname }}.{{ linux_ad_authconfig_domain }}' --domain-ou='{{ linux_ad_authconfig_computer_ou }}' --login-user={{ linux_ad_authconfig_sssd_user }} -S  {{ linux_ad_ad_info_ad_server }} {{ linux_ad_authconfig_domain }}"
  args:
    creates: /etc/krb5.keytab
  tags:
    - aad_adjoin
    - aad_agent
    - aad_sssd

# Save backup
- name: authconfig
  shell: "/usr/sbin/authconfig --savebackup=pre-authconfig-adcli"
  args:
    creates: /var/lib/authconfig/backup-pre-authconfig-adcli
  tags:
    - aad_authconfig
    - aad_sssd
  when: linux_ad_ansible_distribution_major_version|int <= 7 and ansible_os_family == 'RedHat'

# Parameter --nostart used since krb5.conf and sssd.conf don't exist yet.
- name: authconfig
  shell: "/usr/sbin/authconfig --enablesssd --enablesssdauth --disableldap --disableldapauth --enablemkhomedir --update --nostart && touch /var/lib/authconfig/ansible_configured"
  args:
    creates: /var/lib/authconfig/ansible_configured
  notify:
    - "clear nscd"
    - "clear ssh AllowGroups"
    - "disable nslcd"  # Odd behavior if is running
    - "restart sssd"
    - "restart dbus"
    - "restart logind"
    - "restart oddjob"
  tags:
    - aad_authconfig
    - aad_sssd
  when: linux_ad_ansible_distribution_major_version|int <= 7 and ansible_os_family == 'RedHat'

# Parameter --nostart used since krb5.conf and sssd.conf don't exist yet.
- name: authselect
  shell: "/usr/bin/authselect select sssd with-mkhomedir && touch /var/lib/authselect/ansible_configured"
  args:
    creates: /var/lib/authselect/ansible_configured
  notify:
    - "clear nscd"
    - "clear ssh AllowGroups"
    - "disable nslcd"  # Odd behavior if is running
    - "restart sssd"
    - "restart dbus"
    - "restart logind"
    - "restart oddjob"
  tags:
    - aad_authselect
    - aad_authconfig
    - aad_sssd
  when: linux_ad_ansible_distribution_major_version|int >= 8 and ansible_os_family == 'RedHat'

# On RHEL nsswitch.conf is not updated.
- name: nsswitch passwd
  lineinfile:
    dest: /etc/nsswitch.conf
    line: 'passwd:     files sss'
    regexp: '^passwd: .*'
  tags:
    - aad_nsswitch
    - aad_sssd

- name: nsswitch shadow
  lineinfile:
    dest: /etc/nsswitch.conf
    line: 'shadow:     files sss'
    regexp: '^shadow: .*'
  tags:
    - aad_nsswitch
    - aad_sssd

- name: nsswitch group
  lineinfile:
    dest: /etc/nsswitch.conf
    line: 'group:      files sss'
    regexp: '^group: .*'
  tags:
    - aad_nsswitch
    - aad_sssd

- name: /etc/hosts entry
  lineinfile:
    dest: /etc/hosts
    line: "{{ ansible_default_ipv4.address }}  {{ ansible_hostname }}.{{ linux_ad_authconfig_domain }} {{ ansible_hostname }}"
